{{ define "index"}}

{{ template "header" }}
<main class="px-3">
    <h1>Cover your page.</h1>
    <p class="lead"></p>
    <p class="lead">
        <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
    </p>
</main>


<h1>Главная страница</h1>

{{ if ne .Name "Bob" }}
<span>Привет</span>

{{ else }}
<span> SSSSSSSSSSS </span>

{{ end }}


<p>Пользователь: {{ .Name }}</p>
<p>Возраст: {{ .Age }}</p>
<p>Деньги: {{ .Money }}</p>

<ul>
    {{range .Hobbies}}
    <li><b>{{ . }}</b></li>
    {{ end }}
</ul>

{{ template "footer" }}

{{ end }}